body, html {
  height: 100%;
}

.bi {
  /* The image used */
  background-image:url("../img/e3.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main{
	width:100%;
	height:50vh;
	position:relative;
}
.logo img{
	height:45px;
}
.menu li a:hover{
	background-color:#23cdaf;
	color:white;
	box-shadow:5px 10px 30px rgba(24,139,119,0.2);
	transition:all ease 0.2s;
}

.menubar{
	background-color:white;
	text-align:center;
	box-shadow:5px 10px 30px rgba(0,0,0,0.02);
	z-index:1;
}
		
.menubar ul{
	list-style:none;
	display:inline-flex;
	}
	
.menubar ul li a{
	color:black;
	text-decoration:none;
}
		
.submenu{
	display:none;
	}

.menubar li{
	padding:30px;
	}
	
.menubar ul li:hover{
	background-color:rgba(24,139,119,0.2);
	border-radius:15px;
	}
	
.menubar ul li:hover .submenu{
	display:block;
	position:absolute;
	background-color:rgba(0,0,0,0.02);
	margin-top:15px;
	margin-left:-15px;
	border-radius:15px;
	padding:30px;
	box-shadow:5px 10px 30px rgba(0,0,0,0.02);
	z-index:1;
	}
	
.menubar ul li:hover .submenu ul{
	display:block;
	margin-left:-30px;
	}
	
.menubar ul li:hover .submenu ul li{
	padding:20px;
	border-bottom:1px solid red;
	}
	/* end */	
